<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Login page</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

        <!--add CSRF AJAX/REST protection:-->
        <meta name="_csrf" th:content="${_csrf.token}"/>
        <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
        <!--link href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" /-->
        <link href="/css/signin.css" th:href="@{/css/signin.css}" rel="stylesheet" />
    </head>
    <body>

    <div class="container">

        <div th:if="${param.error}">
            Invalid username or password!
        </div>
        <div th:if="${param.logout}">
            You have been logged out
        </div>
        <form class="form-signin" th:action="@{/login}" method="post" role="form">
            <h2 class="form-signin-heading">Please sign in</h2>
            <input type="email" class="form-control" name="username" placeholder="Email address" value="email3@email.com"/>
            <input type="password" class="form-control" placeholder="Password" name="password" value="12A34"/>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <label class="checkbox">
                <input type="checkbox" value="remember-me"/> Remember me
            </label>
            <button class="btn btn-lg btn-primary btn-block" th:type="submit">Sign in</button>
            <h4 class="text-center"><a th:href="registration">Create an account</a></h4>
        </form>
    </div>

    <script
            src="https://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>
</html>