<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Registration: Create an account</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <!--link href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" /-->
    <link href="/css/signin.css" th:href="@{/css/signin.css}" rel="stylesheet" />
</head>
<body>

<div class="container">

        <form action="#" th:action="@{/registration}" method="post" modelAttribute="customerForm" class="form-signin" th:object="${customerForm}">
        <h2 class="form-signin-heading">Create your account</h2>
                <input type="email" th:name="email" th:fild="*{email}" class="form-control" placeholder="Email" autofocus="true"/>
            <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</div>

                <input type="password" th:name="pass" th:field="*{pass}" class="form-control" placeholder="Password"
                       autofocus="true"/>
                <div th:if="${#fields.hasErrors('pass')}" th:errors="*{pass}">Password Error</div>

                <input type="password" th:field="*{passConfirm}" class="form-control" placeholder="PasswordConfirm"
                       autofocus="true"/>
            <div th:if="${#fields.hasErrors('passConfirm')}" th:errors="*{passConfirm}" class="form-control"
                 placeholder="Confirm your password">passwordConfirm Error</div>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
        </form>

</div>
<!-- /container -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>